.badge {
    text-shadow: 0 0 2px #000;
}

.badge.bg-warning {
    color: #212529 !important;
    text-shadow: none;
}

.hash {
    min-width: 220px;
    font-size: 12px;
    font-family: monospace;
    color: #000 !important;
    text-shadow: none;
}

#website-logo {
    width: 40px;
    height: 40px;
    background-image: url("/resources/image/logo-mobile.png");
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #website-logo {
        width: 80px;
        height: 80px;
        background-image: url("/resources/image/logo.png");
    }
}

table tr.new > td > div {
    color: #11a92b !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-full {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    width: 100%
}

.container-full {
    max-width: initial !important;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl, .navbar > .container-full {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between
}